In [6]:
import mysql.connector
conn = mysql.connector.connect (user='sqluser', password='sqlpass',
                               host='mysql',buffered=True)
cursor = conn.cursor()
databases = ("show databases")
cursor.execute(databases)
for (databases) in cursor:
     print(databases[0])

information_schema
mysqldb

In [28]:
import mysql.connector
conn = mysql.connector.connect (user='sqluser', password='sqlpass',
                               host='mysql',buffered=True)

cursor = conn.cursor()
cursor.execute('use mysqldb')
cursor.execute("show tables") 
cursor.fetchall()

[('my_collection',)]

In [29]:
import mysql.connector

conn = mysql.connector.connect (user='sqluser', password='sqlpass',
                               host='mysql',buffered=True)
cursor = mydb.cursor()
cursor.execute('use mysqldb')

mycursor.execute("CREATE TABLE customers (name VARCHAR(255), address VARCHAR(255))")
mycursor.execute("SHOW TABLES")

for x in mycursor:
  print(x)

('customers',)
('my_collection',)

In [4]:
import mysqlx

# Connect to server on localhost
session = mysqlx.get_session({
    'host': 'mysql',
    'port': 33060,
    'user': 'sqluser',
    'password': 'sqlpass'
})

In [11]:
import mysqlx

# Connect to server
session = mysqlx.get_session(
   host="mysql",
   port=33060,
   user="root",
   password="password")
schema = session.get_schema('mysqldb')

# Create 'my_collection' in schema
schema.create_collection('my_collection', reuse_existing=True)

In [12]:

# Get 'collection_GOT' from schema
collection = schema.get_collection('my_collection')

collection.add(
    {"name": "Bran", "family_name": "Stark", "age": 18,
     "parents": ["Eddard Stark", "Catelyn Stark"]},
    {"name": "Sansa", "family_name": "Stark", "age": 21,
     "parents": ["Eddard Stark", "Catelyn Stark"]},
     {"name": "Arya", "family_name": "Stark", "age": 20,
     "parents": ["Eddard Stark", "Catelyn Stark"]},
    {"name": "Jon", "family_name": "Snow", "age": 30},
    {"name": "Daenerys", "family_name": "Targaryen", "age": 30},
    {"name": "Margaery", "family_name": "Tyrell", "age": 35},
    {"name": "Cersei", "family_name": "Lannister", "age": 44,
     "parents": ["Tywin Lannister, Joanna Lannister"]},
    {"name": "Tyrion", "family_name": "Lannister", "age": 48,
     "parents": ["Tywin Lannister, Joanna Lannister"]},
).execute()

In [13]:
collection = schema.get_collection("my_collection")

print(collection.find().execute().fetch_all())

[{'_id': '00005f3d05300000000000000002', 'age': 18, 'name': 'Bran', 'parents': ['Eddard Stark', 'Catelyn Stark'], 'family_name': 'Stark'}, {'_id': '00005f3d05300000000000000003', 'age': 21, 'name': 'Sansa', 'parents': ['Eddard Stark', 'Catelyn Stark'], 'family_name': 'Stark'}, {'_id': '00005f3d05300000000000000004', 'age': 20, 'name': 'Arya', 'parents': ['Eddard Stark', 'Catelyn Stark'], 'family_name': 'Stark'}, {'_id': '00005f3d05300000000000000005', 'age': 30, 'name': 'Jon', 'family_name': 'Snow'}, {'_id': '00005f3d05300000000000000006', 'age': 30, 'name': 'Daenerys', 'family_name': 'Targaryen'}, {'_id': '00005f3d05300000000000000007', 'age': 35, 'name': 'Margaery', 'family_name': 'Tyrell'}, {'_id': '00005f3d05300000000000000008', 'age': 44, 'name': 'Cersei', 'parents': ['Tywin Lannister, Joanna Lannister'], 'family_name': 'Lannister'}, {'_id': '00005f3d05300000000000000009', 'age': 48, 'name': 'Tyrion', 'parents': ['Tywin Lannister, Joanna Lannister'], 'family_name': 'Lannister'}]

In [27]:
# Start transaction
session.start_transaction()

collection.add({"name": "Wilma", "age": 33}).execute()
print(collection.count())

# Create a savepoint
session.set_savepoint("sp")

collection.add({"name": "Barney", "age": 42}).execute()
print(collection.count())

# Release a savepoint
session.release_savepoint("sp")

print(collection.count())

# Commit all operations
session.commit()

10
11
11